{% extends 'base3.html.twig' %}

{% block title %}New Users{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-4">Create New Users</h1>

        <div class="row">
            <div class="col-md-8">
                <form method="post" action="{{ path('app_admin_new') }}" class="needs-validation" novalidate>
                    {{ include('admin/_form.html.twig', {'button_label': 'Create'}) }}

                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary">Create</button>
                        <a href="{{ path('app_admin_index') }}" class="btn btn-secondary">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
