{# templates/reset_sms/verify_sms.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Verify SMS Code{% endblock %}

{% block body %}
    <div class="container">
        <h1>Verify SMS Code</h1>

        {# Afficher un message flash s'il y en a un #}
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}

        {# Formulaire pour saisir et vérifier le code SMS #}
        <form action="{{ path('verification_sms') }}" method="post">
            <input type="hidden" name="phone_number" value="{{ phone_number }}">
            <label for="verification_code">Verification Code:</label>
            <input type="text" id="verification_code" name="verification_code" required>
            <button type="submit">Verify Code</button>
        </form>
    </div>
{% endblock %}
