{% extends 'base.html.twig' %}

{% block title %}Edit Parc{% endblock %}

{% block body %}
    <h1>Edit Parc</h1>

    {{ include('parc/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_parc_index') }}">back to list</a>

    {{ include('parc/_delete_form.html.twig') }}
{% endblock %}
