{% extends 'base.html.twig' %}

{% block title %}New Parc{% endblock %}

{% block body %}
    <h1>Create new Parc</h1>

    {{ include('parc/_form.html.twig') }}

    <a href="{{ path('app_parc_index') }}">back to list</a>
{% endblock %}
