<form method="post" action="{{ path('app_materiel_delete', {'idmat': materiel.idmat}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ materiel.idmat) }}">
    <button class="btn">Delete</button>
</form>
