
<form method="post" action="{{ path('app_backcateg_delete', {'idCatTra': categtran.idCatTra}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categtran.idCatTra) }}">
    <br>
    <button class="btn" style="background-color: #B21807; color: white; border: none; border-radius: 5px; padding: 10px 15px;">Supprimer</button>
</form>
