{# templates/verification/failure.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Verification Failure{% endblock %}

{% block body %}
    <div class="container">
        <h1>Verification Failure</h1>
        <p>Your verification code is incorrect or has expired. Please try again.</p>
    </div>
{% endblock %}
