<form method="post" action="{{ path('app_backactivite_delete', {'idact': activite.idact}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ activite.idact) }}">
    <button class="btn">Delete</button>
</form>
