{% extends 'back.html.twig' %}

{% block title %}New Activite{% endblock %}

{% block body %}
    <br>
    <br>
    <br>
    <br>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h1 class="text-center m-0" style="font-size: 24px; color: white">Create new Activite</h1>
                    </div>

                    <div class="card-body">
                        {{ include('backactivite/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="text-center mt-4">
            <a href="{{ path('app_backactivite_index') }}" class="btn btn-primary mr-2">
                <i class="fas fa-arrow-left"></i> Retour à la liste
            </a>
        </div>
    </div>
{% endblock %}
