
{% extends 'base.html.twig' %}
{% block contenu %}

    <div class="container-fluid page-header">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
                <h3 class="display-4 text-white text-uppercase">Services</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Services</p>
                </div>
            </div>
        </div>
    </div>
<!-- Service Start -->
<br>
<br>
<br>
<div class="container text-center mt-5">
    <div class="alert alert-success" role="alert">
        <br>
        <h4 class="alert-heading">Bienvenue dans votre espace de gestion !</h4>
        <p>Découvrez toutes les fonctionnalités pour prendre le contrôle de vos ressources.</p>
    </div>
</div>
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 8px;">Vos Gestions</h6>

        </div>
        <div class="row">

            <div class="col-lg-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <a href="{{ path('app_parc_index') }}">
                        <i class="fa fa-2x fa-truck mx-auto mb-4"></i>
                        <h5 class="mb-2">Parc</h5>
                        <p class="m-0" style="color: #343a40" >La gestion des parcs et du matériel vous permet de suivre et
                            d'optimiser l'utilisation de vos ressources, tout en
                            planifiant efficacement l'entretien et les remplacements nécessaires.</p>
                    </a>
                </div>
            </div>


            <div class="col-lg-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-ticket-alt mx-auto mb-4"></i>
                    <h5 class="mb-2">Trésorerie</h5>
                    <p class="m-0">Justo sit justo eos amet tempor amet clita amet ipsum eos elitr. Amet lorem est amet labore
                        Justo sit justo eos amet tempor amet clita amet ipsum eos elitr. Amet lorem est </p>
                </div>
            </div>

            <div class="col-lg-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-hotel mx-auto mb-4"></i>
                    <h5 class="mb-2">Terrains</h5>
                    <p class="m-0" >Justo sit justo eos amet tempor amet clita amet ipsum eos elitr. Amet lorem est amet labore
                        Justo sit justo eos amet tempor amet clita amet ipsum eos elitr. Amet lorem est </p>
                </div>
            </div>

            <div class="col-lg-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-route mx-auto mb-4"></i>
                    <h5 class="mb-2">Réclamations</h5>
                    <p class="m-0">Justo sit justo eos amet tempor amet clita amet ipsum eos elitr. Amet lorem est amet labore
                        Justo sit justo eos amet tempor amet clita amet ipsum eos elitr. Amet lorem est </p>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Service End -->


<!-- Testimonial Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Testimonial</h6>
            <h1>What Say Our Clients</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="text-center pb-4">
                <img class="img-fluid mx-auto" src="img/testimonial-1.jpg" style="width: 100px; height: 100px;" >
                <div class="testimonial-text bg-white p-4 mt-n5">
                    <p class="mt-5">Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam
                    </p>
                    <h5 class="text-truncate">Client Name</h5>
                    <span>Profession</span>
                </div>
            </div>
            <div class="text-center">
                <img class="img-fluid mx-auto" src="img/testimonial-2.jpg" style="width: 100px; height: 100px;" >
                <div class="testimonial-text bg-white p-4 mt-n5">
                    <p class="mt-5">Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam
                    </p>
                    <h5 class="text-truncate">Client Name</h5>
                    <span>Profession</span>
                </div>
            </div>
            <div class="text-center">
                <img class="img-fluid mx-auto" src="img/testimonial-3.jpg" style="width: 100px; height: 100px;" >
                <div class="testimonial-text bg-white p-4 mt-n5">
                    <p class="mt-5">Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam
                    </p>
                    <h5 class="text-truncate">Client Name</h5>
                    <span>Profession</span>
                </div>
            </div>
            <div class="text-center">
                <img class="img-fluid mx-auto" src="img/testimonial-4.jpg" style="width: 100px; height: 100px;" >
                <div class="testimonial-text bg-white p-4 mt-n5">
                    <p class="mt-5">Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam
                    </p>
                    <h5 class="text-truncate">Client Name</h5>
                    <span>Profession</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
{% endblock %}