<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Header</title>
    <style>

        header {
            color: #fff;
            text-align: center;
            padding: 10px 0;
        }
        header img {
            max-width: 100px;
            margin-bottom: 10px;
            text-align: left;
        }
        header p {
            font-size: 16px;
            text-align: left; /* Align text to the left */
        }
        .logo {
            width: 120px;
            height: 120px;
        }
    </style>
</head>
<body>
<header>
    <img src="https://www.farmtech.eu/wp-content/themes/komptech/assets/img/logo-menu-farmtech.svg" class="logo" alt="Logo">
</header>
</body>
</html>
